<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619573555942-ghjmvfseqahdii88jt6onk7t3u06bmhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619573555942-ghjmvfseqahdii88jt6onk7t3u06bmhn</string>
	<key>API_KEY</key>
	<string>AIzaSyDsA__Xbto1urq1hjkPgw5z0uAdYj5pEps</string>
	<key>GCM_SENDER_ID</key>
	<string>619573555942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SeongjunIm.www.WaffleChat</string>
	<key>PROJECT_ID</key>
	<string>wafflechat-c373b</string>
	<key>STORAGE_BUCKET</key>
	<string>wafflechat-c373b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:619573555942:ios:83d800e496153580f6c127</string>
	<key>DATABASE_URL</key>
	<string>https://wafflechat-c373b.firebaseio.com</string>
</dict>
</plist>
